.order-page{
    width: 100%;
    max-width: 420px;
    background: #fff;
    border-radius: 16px;
    padding: 16px 16px 24px;
    box-shadow: 0 4px 12px #0f172a14;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-sizing: border-box;
}

.order-title{
    font-size: 14px;
    font-weight: 500;
    color: #111827;
}

.order-input{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.order-input:focus{
    border: 1px solid #3b82f6;
}

.order-button{
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    font-size: 14px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    background: #3b82f6;
    color: #fff;
}

.basket-item{
    display: flex;
    justify-content: space-between;
}


.basket-title{
    font-size: 12px;
    font-weight: 500;
}
.order-phone{
    font-size: 12px;
    color: #000;
}
.basket-control{
    display: flex;
    align-items: center;
    gap: 8px;
}

.basket-button{
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.basket-summary{
    border-top: 1px solid #e5e7eb;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.basket-summary-item{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.weight{
    font-weight: 700;
}