*{
	padding: 0;
	margin: 0;
}

.App{
	min-height: 100vh;
    padding: 16px;
    box-sizing: border-box;
    background: #f5f5f8;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}